<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>달력 일정 공유</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<style>
  * {margin: 0; padding:0;}
  body {font-family: 'Helvetica', scans-sans-serif;}
  li {list-style: none;}
  a {text-decoration: none;}
</style>

<style>
  header {
    background-color: Coral;
    padding: 5px;
    text-align: left;
    font-size: 20px;
    color: white;
  }

</style>

<style>

  footer {
  background-color: Coral;
  padding: 5px;
  text-align: center;
  color: white;
  }
</style>



{% block style %} {% endblock %}

</head>
<body>

  {% block body %}

  {% endblock %}


  <footer>
    <h6>하나님은 사랑이시라</h6>
  </footer>

</body>
</html>
